.filter-bar{
  width: 100vw; //this instead of 100% otherwise the contents change position when the scrollbar is present
  height: 60px;
  background-color: $secondaryBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__label{
    position: relative;
    color: $primaryTextColor;
    font-size: 14px;
    min-width: 200px;
    max-width: 200px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__centered-text{
      width: 130px;
    }
  }

  &__input {
    -webkit-appearance: none;
    height: 2px;
    border-radius: 5px;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb {
      appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;

      &:hover {
        background: $range-handle-color-hover;
      }
    }
  }

  &__input{
    border: 0;
    padding: 0;
    width: 200px;
    border-radius: 30px;
    margin: 5px;
  }

}